
/*signup page css*/

.signup-form{
    background-color: #1E1E1E;
    height: 100vh;
  }
  
  
  .signup-inputs{
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .login-link{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
  
  .login-link .link-style {
    text-decoration: none;
  }
  
  .input-error {
    border: 2px solid red;
}

.error-signup-pass {
    color: red;
    font-size: 14px;
    margin-top: -20px;
}